---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<!-- SST-Sal 2022 -->   

<!-- <div class="publication_item">
  <div class="media">
      <div class="pull-left">
          <img class="img-pub" src="../images/SST-Sal_teaser.png">
      </div>
      <div class="media-body">
          <h3>SST-Sal: A Spherical Spatio-Temporal Approach for Saliency Prediction in 360º Videos</h3>
          <h4><b>Edurne Bernal-Berdun</b>, <a href="http://webdiis.unizar.es/~danims/" target="_blank">Daniel Martin</a>, <a href="http://giga.cps.unizar.es/~diegog/" target="_blank">Diego Gutierrez</a>, and  <a href="http://webdiis.unizar.es/~bmasia/" target="_blank">Belen Masia</a></h4>
          <span class="pub-site">Computers and Graphics, 2022</span> 
          <br>
      </div>
      <hr style="margin:12px auto">
      <a href="https://graphics.unizar.es/papers/2022_Bernal_SSTSal.pdf" target="_blank"><span class="label-primary">PDF</span></a>
      <a href="https://graphics.unizar.es/projects/SST-Sal_2022/" target="_blank"><span class="label-primary">Project page</span></a> 
      <a href="https://www.youtube.com/watch?v=GA6umbwMUqY" target="_blank"><span class="label-primary">Supplementary Video</span></a> 
      <a href="https://graphics.unizar.es/docs/Bernal_2022_SSTSal.bib" target="_blank"><span class="label-primary">Bibtex</span></a> 
      <span class="categ-jour"> <strong>Journal (JCR Q2)</strong></span>
  </div>          
</div> -->
<br>
<table class="table_publications">
        
  <tbody>
      <tr valign="top" style="background-color: rgb(249, 249, 249);border-radius:11pt;border-style: groove;border-color:#ffffff3b;border-width: 2px;">
        <td class="imagestyle">
          
          <img src="../images/SST-Sal_teaser.png">
          
        </td>
        <td class="publications">
          <div class="bookmark_div"><span class="bookmark" id="Edurne2022VideoSaliency"></span></div>
          <p>
            <strong>SST-Sal: A Spherical Spatio-Temporal Approach for Saliency Prediction in 360º Videos</strong><span class="brmedium"></span> 
            Edurne Bernal-Berdun, Daniel Martin, Diego Gutierrez, Belen Masia<span class="brlarge"></span> 
            <span class="pub-site">Computers &amp; Graphics (CEIG), 2022</span><br>
            
            <hr style="margin:12px auto">
            <a href="https://graphics.unizar.es/papers/2022_Bernal_SSTSal.pdf" target="_blank"><span class="label-primary">PDF</span></a>
            <a href="https://graphics.unizar.es/projects/SST-Sal_2022/" target="_blank"><span class="label-primary">Project page</span></a> 
            <a href="https://www.youtube.com/watch?v=GA6umbwMUqY" target="_blank"><span class="label-primary">Supplementary Video</span></a> 
            <a href="https://graphics.unizar.es/docs/Bernal_2022_SSTSal.bib" target="_blank"><span class="label-primary">Bibtex</span></a> 
            <span class="categ-jour"> <strong>Journal (JCR Q2)</strong></span>
            
            
          </p>
        </td>
      </tr>

    <tbody>
  </table>
<!-- End publication item -->   