.publication_item {
    background-color: rgb(249, 249, 249);
    border-radius:11pt;
    border-style: groove;
    border-color:rgb(160, 160, 160);
    border-width: 2px;
}
.publication_item div {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.pull-left {
    margin-left: 0%;
    // width: 25%;
    float: left;
}
.media-body {
    margin-left: 35%;
    text-align: justify;
    width: 60%;
}
.label-primary
{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius:4pt;
    border-style: groove;
    border-color:rgb(58, 58, 58);
    border-width: 1px;
    cursor: pointer;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
}
.pub-site
{
    float:right;
    font-style: italic;
    color:rgb(4, 62, 65);
}
.categ-jour
{
    float: right;
    font-size: 8pt;
    color:rgb(0, 0, 0);  
}