.publication_item {
    background-color: rgb(249, 249, 249);
    border-radius:11pt;
    border-style: groove;
    border-color:#ffffff3b;
    border-width: 2px;
}
.publication_item div {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.pull-left {
    // margin-left: 0%;
    width: 25%;
    float: left;
}
.media-body {
    margin-left: 35%;
    text-align: justify;
    width: 60%;
}
.label-primary
{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius:4pt;
    border-style: groove;
    border-color:rgb(58, 58, 58);
    border-width: 1px;
    cursor: pointer;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
}
.pub-site
{
    // float:right;
    font-style: italic;
    color:rgb(4, 62, 65);
}
.categ-jour
{
    margin-right: 3%;
    float: right;
    font-size: 10pt;
    color:rgb(0, 0, 0);  
}

.brmedium {
	display: block;
	margin-bottom: 5px;
}

.brlarge {
	display: block;
	margin-bottom: 1em;
}
.supervision_item {
    background-color:rgb(249, 249, 249);
    border-radius:2pt;
    border-style: groove;
    border-color:rgb(58, 58, 58);
    border-width: 2px;
}
/* Formato de publications de Diego */

.table_publications p{	
	width: auto;
	max-width: none;
}

.table_publications tr{	
	valign: center;
}

.table_publications h3{	
	width: auto;
	max-width: none;
	margin: 0 auto;
}

.table_publications th{	
   padding-top: 40px;
}

.table_publications td{	
	padding-right: 0px;
	padding-left: 40px;		
	border: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	// line-height:2rem !important;
}

.table_publications em,i,strong,b{	

	// line-height:2rem !important;
}

.imagestyle img{
	width : 248px;
	height : 120px;
	padding-right: 0px;
	padding-left: 0px;	
    margin-top: -10px;
	margin-right: 0px;
}
@media only screen and (max-width:500px) {
	.imagestyle{
		padding: 20px;
	}
	.imagestyle img {
		width: 100%;
		height: auto;
		text-align: center;
	}
}

.imagestylePress {
	width: 50px;
	height: 50px;
	padding-left: 0px !important;	
	padding-top: 0px !important;
	vertical-align: middle !important;
}

@media only screen and (max-width:500px) {
	.imagestylePress {
		width: 100%;
		height: 60px;
		text-align: center;
	}

	.imagestylePress img{
		width: 50px;
		height: 50px;
		text-align: center;
	}
}

.imagestylePress img {
	max-width : 100%;
	height : auto;
	padding-right: 0px;
	padding-left: 0px !important;	
    margin-top: 0px;
	vertical-align: middle;
	border-radius: 15px;
}

.imagestylePressIcon {
	max-width : 50% !important;
	height : auto;
	padding-right: 0px;
	padding-left: 0px;	
    margin-top: 10px;
	margin-right: 25px;
	vertical-align: middle;
}

.table_publications td.publicationsPress
{
	padding-top:0px;
	margin-left:0px;
	margin-right:0px;
	vertical-align: middle !important;
}

.table_publications tr.Press > td {
	padding-bottom: 20px;
}

.table_publications td.publicationsPress .PressTitle {
	padding-bottom: 10px;
}

.table_publications td.publicationsPress .publicationsPress {
	margin-bottom: 10px;
	padding-top: 0px;
}

.table_publications td.publicationsPress .PressArticle {
}

.table_publications td.publicationsPress span
{
  	padding-left: 5px;
  	padding-right: 10px;
  	// border-style: solid;
	// border-color: gray;
  	// border-width: 1px 0px 0px 0px;
  	// display: inline-block;
}

@media only screen and (max-width:500px) {
	.table_publications td.publicationsPress span
	{
		display: block;
	}
}


.table_publications td.publications
	{
	padding-top:0px;
	margin-left:100px;
	margin-right:200px;
	}

@media only screen and (max-width:500px) {
	.table_publications td
	{
		padding-left: 0px !important;
	}
	.table_publications tr , .table_publications td
	{	
		display:block;
		padding: 5px;
	}
	.table_publications td.publications {
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 10px;
	}
	.table_publications thead td{
		display:none;
	}
	.table_publications thead th{
		padding-bottom:0px;
		text-align:center;
		display:block;
	}
	.table_publications thead:first-child th{
		padding-top:20px;
	}
	.table_publications tbody tr:first-child > td{
		padding-top:5px;
	}
	
	
}

.row-publicaciones
{
	max-width: 900px !important;
}

// .funding {
// 	margin-bottom: 0px !important;
// 	text-align: left;
// }

// .funding img{
// 	height: 100px;
// 	margin-top: 20px !important;
// 	margin-bottom: 30px !important;
// 	margin-left: 0px !important;
// 	margin-right:10px !important; /*a few pxs doesnt hurt*/
// 	text-decoration: none;
// 	border-bottom: none;
// }

// .funding a{
// 	text-decoration: none;
// 	border-bottom: none;
// }